{%- liquid
  assign form_classes = form_classes | default: '' | append: ' contact-form form js--validate-me' | strip
  assign form_id = form_id | default: 'contact-us-form'
-%}

{%- form 'contact', class: form_classes, data-redirect: '/pages/thank-you', id: form_id -%}

  <div class="form__field field field--text">
    {% render "input", classes: 'input--primary', name: 'contact[name]', placeholder: 'Name*', required: true, type: 'text' %}
    {% render "error-message", message: 'This cannot be blank.', position: 'right' %}
  </div>
  <div class="form__field field field--email">
    {% render "input", classes: 'input--primary', name: 'contact[email]', placeholder: 'Email*', required: true, type: 'email' %}
    {% render "error-message", message: 'Scuzi! Please enter a valid email address.', position: 'right' %}
  </div>
  <div class="form__field field field--tel">
    {% render "input", classes: 'input--primary', name: 'contact[phone]', placeholder: 'Contact No.', required: false, type: 'tel' %}
  </div>
  <div class="form__field field field--textarea">
    {% render "textarea", classes: 'textarea--primary', name: 'contact[body]', placeholder: 'Message*', required: true %}
    {% render "error-message", message: 'This cannot be blank.', position: 'right' %}
  </div>

  <div class="form__field">
    {%- capture inverted_corner_box_content -%}
      <button class="form__button button--primary text-colour--off-white" type="submit">Submit</button>
    {%- endcapture -%}
    {%-
      render 'inverted-corner-box',
      background: 'off-black',
      border: 'off-black',
      content: inverted_corner_box_content,
      type: 'button'
    -%}
  </div>

{%- endform -%}
