{%- if product and product != blank -%}

  {%- liquid

    assign template_name = 'product'
    assign snippet_name = 'product-description'

    assign product_description = product.description | default: false

  -%}

  {% if product_description != blank %}
    <div class="{{ template_name }}__description body-copy--primary body-copy--md">{{ product_description }}</div>
  {% endif %}

{%- endif -%}
