{%- if product and product != blank -%}

  {%- liquid

    assign template_name = 'product'
    assign snippet_name = 'product-additional-details'

    assign product_details = product.metafields.additional.details | default: false

  -%}

  {% if product_details != blank %}
    <strong class="body-copy--primary body-copy--md">Details</strong>
    <div class="{{ template_name }}__additional-details body-copy--primary body-copy--md" style="display:none;">{{ product_details | metafield_tag }}</div>
  {% endif %}

{%- endif -%}
