@use '../utils/mixins/body-copy' as *;
@use '../utils/mixins/border' as *;
@use '../utils/mixins/breakpoint' as *;
@use '../utils/mixins/font' as *;

.fifty-fifty {

  &__heading,
  &__body-copy {
    & + .fifty-fifty__cta {
      &.primary {
        margin-top: 42px;
      }
      &.secondary {
         margin-top: 38px;
      }
    }
  }

  &__content {
    margin: 0 auto;
    &.text {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      aspect-ratio: 3/2.75;
    }
  }

  &__cta {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    .button--secondary {
      font-size: 22px;
    }
  }

  &__heading {
    & + .body-copy {
      &--primary {
        margin-top: 15px;
      }
      &--secondary {
        margin-top: 17px;
      }
    }
  }

  &__image {
    .inverted-corner-box {
      width: 100%;
      height: 100%;
    }
    &.image-sizing--adapt,
    &.image-sizing--custom {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &.image-sizing--custom {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__item {
    &.image {
      order: 1;
    }
    &.text {
      order: 2;
    }
  }

  &__main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  @include breakpoint(sm) {

    &__content {
      &.text {
        aspect-ratio: 3/2.25;
      }
    }

  }

  @include breakpoint(md) {

    &__content {
      &.text {
        aspect-ratio: 3/1.65;
      }
    }

  }

  @include breakpoint(lg) {

    &__heading,
    &__body-copy {
      & + .fifty-fifty__cta {
        &.primary {
          margin-top: 40px;
        }
        &.secondary {
           margin-top: 30px;
        }
      }
    }

    &__content {
      height: 100%;
      &.image,
      &.text {
        aspect-ratio: 1/1;
      }
    }

    &__heading {
      & + .body-copy {
        &--primary {
          margin-top: 25px;
        }
        &--secondary {
          margin-top: 21px;
        }
      }
    }

    &__item {
      &.image,
      &.text {
        order: initial;
      }
    }

    &__main {
      grid-template-columns: repeat(2, 50%);
    }

  }

}
