.pop-up {

  .inverted-corner-box {
    height: 100%;
    &__content {
      text-align: center;
      padding: 30px;
      min-height: 100%;
    }
  }

  .modal {
    &-content {
      height: 100%;
    }
    &-dialog {
      padding: 20px;
    }
  }

  &__button {
    width: 22px !important;
    height: 22px !important;
    top: 30px;
    right: 30px;
    position: absolute;
  }

  &__heading {
    &[class*="clarendon"] {
      font-size: 25px;
    }
    &[class*="clarendon"] {
      font-size: 25px;
    }
  }

}
