@use 'sass:map';
@use '../variables' as *;
@use "border" as *;
@use "breakpoint" as *;
@use "font" as *;

@mixin body-copy( $style:'primary' ) {

  @include new-sprint(300);

  p, li {

    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-family: inherit;

    a {
      @include border-solid( var(--theme-border-width), 'inherit', 'bottom' );
      transition: border var(--theme-transition--duration);
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }

  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @if $style == xs {
    font-size: 12px;
    line-height: 1.21;
  }

  @if $style == sm {
    font-size: 16px;
    line-height: 1.31;
  }

  @if $style == md {
    font-size: 20px;
    line-height: 1.25;
  }

}

@mixin body-copy-style( $style: 'primary' ) {

  thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  ol, p, ul, table {
    margin-bottom: 18px;
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 38px;
    }
  }

  ol, ul {
    strong {
      margin: 0;
    }
    ol, ul {
      margin-top: 10px;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
    strong {
      margin: 0;
    }
    th, td, thead {
      border-width: var(--theme-border-width);
      border-color: currentColor;
      border-style: solid;
      padding: 5px;
    }
  }

  p, li {

    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    font-family: inherit;

    a {

      @include border-solid( 2px, 'inherit', 'bottom' );
      transition: border var(--theme-transition--duration);
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;

      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
        color: currentcolor;
      }

    }

  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @if $style == 'primary' {
    @include new-sprint(300);
    a {
      line-height: 1.1;
    }
  }

  @if $style == 'secondary' {
    @include clarendon-wide(700);
    a {
      line-height: 0.85;
    }
  }

  @if $style == 'tertiary' {
    @include sarina(400);
    a {
      line-height: 0.85;
    }
  }

}

@mixin body-copy-size( $size: 'md' ) {

  // @if $size == 'extra-large' {
  //   @each $name, $value in $theme-font-sizes-body-copy {
  //     @if $name == 'base' {
  //       font-size: $value * 1.5;
  //     } @else {
  //       @include breakpoint(#{$name}) {
  //         font-size: $value * 1.5;
  //       }
  //     }
  //   }
  // }

//   @if $size == 'large' {
//     @each $name, $value in $theme-font-sizes-body-copy {
//       @if $name == 'base' {
//         font-size: $value * 1.2;
//       } @else {
//         @include breakpoint(#{$name}) {
//           font-size: $value * 1.2;
//         }
//       }
//     }
//   }
//
//   @if $size == 'standard' {
//     @each $name, $value in $theme-font-sizes-body-copy {
//       @if $name == 'base' {
//         font-size: $value;
//       } @else {
//         @include breakpoint(#{$name}) {
//           font-size: $value;
//         }
//       }
//     }
//   }
//
//   @if $size == 'compact' {
//     @each $name, $value in $theme-font-sizes-body-copy {
//       @if $name == 'base' {
//         font-size: $value * 0.85;
//       } @else {
//         @include breakpoint(#{$name}) {
//           font-size: $value * 0.85;
//         }
//       }
//     }
//   }
//
//   @if $size == 'tiny' {
//     @each $name, $value in $theme-font-sizes-body-copy {
//       @if $name == 'base' {
//         font-size: $value * 0.55;
//       } @else {
//         @include breakpoint(#{$name}) {
//           font-size: $value * 0.55;
//         }
//       }
//     }
//   }







  @if $size == 'xl' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value * 1.25;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 1.5;
        }
      }
    }
  }

  @if $size == 'lg' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value * 1.15;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 1.3;
        }
      }
    }
  }

  @if $size == 'md' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value;
        }
      }
    }
  }

  @if $size == 'sm' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value * 0.95;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 0.85;
        }
      }
    }
  }

  @if $size == 'xs' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value * 0.9;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 0.8;
        }
      }
    }
  }

  @if $size == 'xxs' {
    @each $name, $value in $theme-font-sizes-body-copy {
      @if $name == 'base' {
        font-size: $value * 0.75;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 0.6;
        }
      }
    }
  }

}

