@use 'sass:map';
@use '../variables' as *;
@use "breakpoint" as *;
@use "font" as *;

@mixin heading($style:1) {

  @include clarendon-wide(700);
  display: block;
  font-style: normal;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == 1 or $style == title {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.21;
  }

  @include breakpoint(sm) {

    @if $style == 1 or $style == title {
      font-size: 30px;
    }

  }

  @include breakpoint(md) {

    @if $style == 1 or $style == title {
      font-size: 46px;
    }

  }

  @include breakpoint(lg) {

    @if $style == 1 or $style == title {
      font-size: 52px;
    }

  }

  @include breakpoint(xl) {

    @if $style == 1 or $style == title {
     font-size: 62px;
    }

  }

  @include breakpoint(xxl) {

    @if $style == 1 or $style == title {
      font-size: 72px;
    }

  }

}

// ---------------------------------------- Size
@mixin heading-size( $size: 'md' ) {

  @if $size == 'xl' {
    @each $name, $value in $theme-font-sizes-heading {
      @if $name == 'base' {
        font-size: $value * 1.2;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 1.5;
        }
      }
    }
  }

  @if $size == 'lg' {
    @each $name, $value in $theme-font-sizes-heading {
      @if $name == 'base' {
        font-size: $value * 1.05;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 1.15;
        }
      }
    }
  }

  @if $size == 'md' {
    @each $name, $value in $theme-font-sizes-heading {
      @if $name == 'base' {
        font-size: $value * 0.95;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value;
        }
      }
    }
  }

  @if $size == 'sm' {
    @each $name, $value in $theme-font-sizes-heading {
      @if $name == 'base' {
        font-size: $value * 0.90;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 0.825;
        }
      }
    }
  }

  @if $size == 'xs' {
    @each $name, $value in $theme-font-sizes-heading {
      @if $name == 'base' {
        font-size: $value * 0.9;
      } @else {
        @include breakpoint(#{$name}) {
          font-size: $value * 0.75;
        }
      }
    }
  }

}

// ---------------------------------------- Style
@mixin heading-style( $style: 'primary' ) {

  display: block;
  font-style: normal;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == 'primary' {
    @include clarendon-wide(700);
    text-transform: uppercase;
  }

  @if $style == 'secondary' {
    @include new-sprint(300);
  }

  @if $style == 'tertiary' {
    @include sarina(400);
  }

}


