{%- liquid

  assign section_name = 'custom-liquid'
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'
  assign section_id = section_name | append: '--' | append: section.id


  assign container = section.settings.container | default: 'container'
  assign custom_liquid = section.settings.custom_liquid | default: ''

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{% if custom_liquid and custom_liquid != blank %}
  <div class="{{ section_classes }}" id="{{ section_id }}">
    {% render 'bs-container', state: 'open', col: 'col-12', container: container %}
      <div class="{{ section_name }}__main">{{ custom_liquid }}</div>
    {% render 'bs-container', state: 'closed', container: container %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Liquid",
  "tag": "section",
  "class": "section section--custom-liquid",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Custom Liquid",
      "type": "liquid",
      "id": "custom_liquid"
    },
    {
      "content": "Layout",
      "type": "header"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        {
          "label": "Black",
          "value": "black"
        },
        {
          "label": "White",
          "value": "white"
        }
      ],
      "default": "white",
      "id": "background"
    },
    {
      "label": "Container",
      "type": "select",
      "options": [
        {
          "label": "Static",
          "value": "container"
        },
        {
          "label": "Fluid",
          "value": "container-fluid"
        },
        {
          "label": "Full Width",
          "value": "full-width"
        }
      ],
      "default": "container",
      "id": "container"
    },
    {
      "content": "Padding",
      "type": "header"
    },
    {
      "label": "Top Padding",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_top"
    },
    {
      "label": "Bottom Padding",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 36,
      "id": "padding_bottom"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
