html, body {
    height: unset;
}

.product__additional-details {
  margin-top: 25px;
}

.product__additional-details-heading {
  text-transform: uppercase;
  display: block;
  margin: 0 0 15px 0;
}

.product__additional-details-content {}

.product__additional-details-content ol,
.product__additional-details-content ul {
  text-align: left;
  width: 80%;
  marging-left: auto;
  margin-right: auto;
}