.modal {
  &-backdrop {
    background: none;
  }
  &-content {
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
  }
  &-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  &-main {
    text-align: center;
  }
}
