@use '../utils/variables' as *;

.text {

  &-colour {
    &--dark {
      color: rgba(var(--theme-colour-off-black), 1);
      .glide {
        &__bullet {
          background: rgba(var(--theme-colour-off-black), 1);
        }
      }
    }
    &--light {
      color: rgba(var(--theme-colour-off-white), 1);
      .glide {
        &__bullet {
          background: rgba(var(--theme-colour-off-white), 1);
        }
      }
    }
    @each $name, $value in $theme-colours {
      &--#{$name} {
        color: $value;
        .glide {
          &__bullet {
            background: $value;
          }
        }
      }
    }
  }

  &-transform {
    &--capitalize {
      text-transform: capitalize;
    }
    &--lowercase {
      text-transform: lowercase;
    }
    &--uppercase {
      text-transform: uppercase;
    }
  }

}
